<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ReddigramReposter</title>
  <meta name="description" content="ReddigramReposter index page">
  <meta name="author" content="Vladyslav Fedchenko">
</head>

<body>
    {% if logged_in %}
    <form action="/logout">
        <h3>Reposting from {{ subreddit }} to {{ tel_channel }}</h3>
        <input type="submit" value="Logout">
    </form>
    {% else %}
     <form action ="/login" method="post">
         Subreddit       : <input type="text" value="{{ subreddit }}" name="subreddit"> <br>
         Telegram channel: <input type="text" value="{{ tel_channel }}" name="tel_channel"> <br>
         <input type="submit" value="Login"> <br>
    </form>
    {% endif %}
</body>
</html>