{% extends "base.html" %}
{% block description %}ReddigramReposter MFA code for telegram login input page{% endblock %}
{% block content %}

<div class="container">

    <form action ="{{ url_for('mfa_code')}}" method="post">
        <div class="row my-2">
            <label class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-form-label">MFA code</label>
            <div class="col-8 col-sm-8 col-md-5 col-lg-5 col-xl-4">
                <input type="text" class="form-control" name="mfa"
                       placeholder="Enter the received code">
            </div>
        </div>

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>

</div>

{% endblock %}