{% extends "base.html" %}
{% block description %}ReddigramReposter settings{% endblock %}

{% block add_nav_buttons %}
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('settings')}}">Settings</a>
</li>
{% endblock %}

{% block content %}

<div class="container">

    {% if method_post %}

    <div class="alert alert-success" role="alert">
      Settings updated.
    </div>

    {% endif %}

    <form action ="{{ url_for('settings')}}" method="post">

        <div class="row my-2 mx-3">
            <label class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-form-label">Top entries</label>
            <div class="col-8 col-sm-8 col-md-5 col-lg-5 col-xl-4">
                <input type="number" class="form-control" value="{{ top_entries }}" name="top_entries"
                       min="1" max="100" step="1">
            </div>
        </div>

        <div class="row my-2 mx-3">
            <label class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2 col-form-label">Browse delay, s</label>
            <div class="col-8 col-sm-8 col-md-5 col-lg-5 col-xl-4">
                <input type="number" class="form-control" value="{{ browse_delay }}" name="browse_delay"
                       min="60" max="86400" step="1">
            </div>
        </div>

        <div class="row my-2 mx-3">
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </div>
    </form>

</div>

{% endblock %}