
<h4 class="mx-4 my-2">Reposting from "{{ subreddit }}" to "{{ tel_channel }}"</h4>

<section id="today">
    <div class="card mx-4 my-2">
        <div class="card-body">

            <h5 class="card-title">Today sent and delivered messages</h5>
            <h6 class="card-subtitle mb-2 text-muted">Today statistics on sent and delivered messages both by number and by file sizes</h6>

            <div class="row">

                <!-- Totals by number -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2" id="today_sent_delivered" style="min-height: 300px;" align='center'></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5" id="today_sent" style="min-height: 300px;"></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5" id="today_delivered" style="min-height: 300px;"></div>

                <!-- Totals by size -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2" id="today_sent_delivered_size" style="min-height: 300px;" align='center'></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5" id="today_sent_size" style="min-height: 300px;"></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5" id="today_delivered_size" style="min-height: 300px;"></div>
            </div>
        </div>
    </div>
</section>

<section id="week">
    <div class="card mx-4 my-2">
        <div class="card-body">

            <h5 class="card-title">This week sent and delivered messages</h5>
            <h6 class="card-subtitle mb-2 text-muted">This week statistics on sent and delivered messages both by number and by file sizes</h6>

            <div class="row">

                <!-- Totals by number -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" id="week_sent" style="min-height: 300px;" align='center'></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" id="week_delivered" style="min-height: 300px;"></div>

                <!-- Totals by size -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" id="week_sent_size" style="min-height: 300px;" align='center'></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" id="week_delivered_size" style="min-height: 300px;"></div>
            </div>
        </div>
    </div>
</section>

<section id="totals">
    <div class="card mx-4 my-2">
        <div class="card-body">

            <h5 class="card-title">Total sent and delivered messages</h5>
            <h6 class="card-subtitle mb-2 text-muted">Total statistics on sent and delivered messages both by number and by file sizes</h6>

            <div class="row">

                <!-- Totals by number -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2" id="totals_sent_delivered" style="min-height: 300px;" align='center'></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5" id="totals_sent" style="min-height: 300px;"></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5" id="totals_delivered" style="min-height: 300px;"></div>

                <!-- Totals by size -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2" id="totals_sent_delivered_size" style="min-height: 300px;" align='center'></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5" id="totals_sent_size" style="min-height: 300px;"></div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5" id="totals_delivered_size" style="min-height: 300px;"></div>
            </div>
        </div>
    </div>
</section>

{% if logged_in %}

<script type="text/javascript" src="{{ url_for('static', filename='js/pie-chart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/col-chart-simple.js') }}"></script>
<script type="text/javascript">

    // TODAY
    var todaySentDelivered = {{ today_stats_dict['today_sent_delivered']|safe }};
    var todaySentData = {{ today_stats_dict['today_by_type_sent']|safe }};
    var todayDeliveredData = {{ today_stats_dict['today_by_type_delivered']|safe }};

    var todaySentDeliveredSize = {{ today_stats_dict['today_sent_delivered_size']|safe }};
    var todaySentSizeData = {{ today_stats_dict['today_by_type_size_sent']|safe }};
    var todayDeliveredSizeData = {{ today_stats_dict['today_by_type_size_delivered']|safe }};

    google.charts.load('current', {'packages':['corechart']});

    // by number

    google.charts.setOnLoadCallback(function() {
        drawSimpleColChart("today_sent_delivered", todaySentDelivered, "Total number of messages"); });

    google.charts.setOnLoadCallback(function() {
        drawPieChart("today_sent", todaySentData, "Total media sent per category"); });

    google.charts.setOnLoadCallback(function() {
        drawPieChart("today_delivered", todayDeliveredData, "Total media delivered per category"); });

    // by size

    google.charts.setOnLoadCallback(function() {
        drawSimpleColChart("today_sent_delivered_size", todaySentDeliveredSize, "Total size of messages, MB"); });

    google.charts.setOnLoadCallback(function() {
        drawPieChart("today_sent_size", todaySentSizeData, "Size of media sent per category, MB"); });

    google.charts.setOnLoadCallback(function() {
        drawPieChart("today_delivered_size", todayDeliveredSizeData, "Size of media delivered per category, MB"); });

</script>

<script type="text/javascript">

    // TODAY
    var weekSent = {{ week_stats_dict['week_sent']|safe }};
    var weekDelivered = {{ week_stats_dict['week_delivered']|safe }};
    var weekSentSize = {{ week_stats_dict['week_sent_size']|safe }};
    var weekDeliveredSize = {{ week_stats_dict['week_delivered_size']|safe }};

    google.charts.load('current', {'packages':['corechart']});

    google.charts.setOnLoadCallback(function() {
        drawSimpleColChart("week_sent", weekSent, "Number of messages sent", true, true); });

    google.charts.setOnLoadCallback(function() {
        drawSimpleColChart("week_delivered", weekDelivered, "Number of messages delivered", true, true); });

    google.charts.setOnLoadCallback(function() {
        drawSimpleColChart("week_sent_size", weekSentSize, "Size of sent messages", true, true); });

    google.charts.setOnLoadCallback(function() {
        drawSimpleColChart("week_delivered_size", weekDeliveredSize, "Size of delivered messages", true, true); });

</script>

<script>
    // TOTALS
    var totalsSentDelivered = {{ totals_stats_dict['totals_sent_delivered']|safe }};
    var totalsSentData = {{ totals_stats_dict['totals_by_type_sent']|safe }};
    var totalsDeliveredData = {{ totals_stats_dict['totals_by_type_delivered']|safe }};

    var totalsSentDeliveredSize = {{ totals_stats_dict['totals_sent_delivered_size']|safe }};
    var totalsSentSizeData = {{ totals_stats_dict['totals_by_type_size_sent']|safe }};
    var totalsDeliveredSizeData = {{ totals_stats_dict['totals_by_type_size_delivered']|safe }};

    google.charts.load('current', {'packages':['corechart']});

    // by number

    google.charts.setOnLoadCallback(function() {
        drawSimpleColChart("totals_sent_delivered", totalsSentDelivered, "Total number of messages"); });

    google.charts.setOnLoadCallback(function() {
        drawPieChart("totals_sent", totalsSentData, "Total media sent per category"); });

    google.charts.setOnLoadCallback(function() {
        drawPieChart("totals_delivered", totalsDeliveredData, "Total media delivered per category"); });

    // by size

    google.charts.setOnLoadCallback(function() {
        drawSimpleColChart("totals_sent_delivered_size", totalsSentDeliveredSize, "Total size of messages, MB"); });

    google.charts.setOnLoadCallback(function() {
        drawPieChart("totals_sent_size", totalsSentSizeData, "Size of media sent per category, MB"); });

    google.charts.setOnLoadCallback(function() {
        drawPieChart("totals_delivered_size", totalsDeliveredSizeData, "Size of media delivered per category, MB"); });
</script>

{% endif %}